<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
<!--     <link rel="icon" href="/img/weather.png"> -->
    <link rel="stylesheet" href="/css/register.css">
    
</head>

<body>
	

    <div id="quote">
    	<input id="uname" type="text" name="uname" placeholder="Email"><br>
    	<input id="passwd" type="password" name="passwd" placeholder="Password"><br>
    	<button id='btnLogin'>Login</button>
    </div>


    <script src="/js/login.js"></script>
</body>

</html>